:root {
  --base-text: #232028;
}

*, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--base-text);
  background-color: transparent;
  transition: background-color 400ms ease, color 400ms ease;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: Lato, Arial, Helvetica, sans-serif;
  color: var(--base-text);
  background: whitesmoke;
  transition: background-color 400ms ease, color 400ms ease;
}

h1,h2,h3,h4 {
  font-family: Sora, Arial, Helvetica, sans-serif;
}

h1 {
  margin: 8px 0 16px;
}

h2 {
  margin-bottom: 12px;
}

h3 {
  margin-bottom: 8px;
}


p {
  margin-bottom: 16px;
}

section {
  margin-bottom: 40px;
  padding: 20px;
}

.cta {
  display: inline-block;
  box-shadow: 1px 1px 4px rgba(0,0,0, 0.25);
  border-radius: 16px;
  padding: 8px 12px;
  background-color: var(--base-text);
  color: white;
  margin-right: 8px;
}

.cta--outlined {
  border-radius: 16px;
  padding: 8px 12px;
  background: white;
  color: var(--base-text);
}

.info i {
  box-shadow: 1px 1px 4px rgba(0,0,0, 0.25);
  border-radius: 8px;
  padding: 8px;
  margin-right: 8px;
  transition: background-color 400ms ease, color 400ms ease;
}

.info--question i {
  color: palevioletred;
}

.info--solution i {
  color: darkblue;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}

.navbar .logo {
  width: 100px;
  display: inline-block;
}

.navbar .logo img {
  width: 100%;
}

.navbar nav {
  display: flex;
  gap: 16px;
  padding: 12px 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 8px rgba(0,0,0, 0.25);
}

/* TODO: USE CSS GRID */
.lead {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.info h3 {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: flex-start;
}

.clarity {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.lead span {
  text-transform: uppercase;
  font-family: "Fira Code", monospace;
}

/* TODO: Switch to CSS GRID */
.sponsors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  gap: 40px;
}

.sponsors img {
  width: auto;
  height: 24px;
}

.feature img {
  max-width: 100%;
}

body.dark {
  color: whitesmoke;
  background: var(--base-text);
}

body.dark a {
  color: whitesmoke;
  background: var(--base-text);
  background-color: transparent;
}

body.dark .navbar nav {
  box-shadow: 2px 2px 8px rgba(122,122,122, 0.125);
}

body.dark .info i {
  box-shadow: 1px 1px 4px rgba(122,122,122, 0.25);
  color: whitesmoke;
}


@media screen and (max-width: 768px) {
  .info, .sponsors, .clarity, .lead {
    grid-template-columns: auto;
  }
}
